DATABASE_URL=postgresql://username:password@host:6543/database_name
cloud_name=your_cloudinary_cloud_name
api_key=your_cloudinary_api_key
api_secret=your_cloudinary_api_secret
user=your_email@gmail.com
pass=your_gmail_app_password
PORT=3000
